<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Multiplication Table</title>
</head>
<body>
    <div id="app">
        <select v-model="matrix_size">
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
        </select>
        <span>Matrix Size: {{ matrix_size }}</span>
        <select v-model="matrix_base">
            <option value="10">Decimal</option>
            <option value="2">Binary</option>
            <option value="16">Hex</option>
        </select>
        <span>Matrix Base: {{ matrix_base }}</span>
        <br />
        <span>
            <matrix v-bind:matrix_size="matrix_size" v-bind:matrix_base="matrix_base"></matrix>
        </span>
    </div>
    <script src="js/app.js"></script>
</body>
</html>